<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3OtXOxBe5JjrENM2Nlp8nT0FO3vqw2y0</string>
	<key>GCM_SENDER_ID</key>
	<string>490854661850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.countryGame</string>
	<key>PROJECT_ID</key>
	<string>country-game-91d59</string>
	<key>STORAGE_BUCKET</key>
	<string>country-game-91d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490854661850:ios:a038959fffd261ed5cafe3</string>
</dict>
</plist>